body {
  background-color: bisque;
}

h1 {
  display: flex;
  justify-content: center;
}

#todo-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  width: 90%;
  padding: 20px;
  border: none;
}

.btn {
  width: 10%;
  padding: 19px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.checkbox {
  flex-basis: 5%;
}

.todo-desc {
  flex-basis: 90%;
}

.remove {
  flex-basis: 5%;
}
